<div id="quicklook-modal" class="quicklook-container" style="display: none";>
    <div class="quicklook-left">

    </div>
    <div class="quicklook-right">
        <div id="quicklook-img"><img data-bind="attr:{src: imagePath}" />
            <div class="img-carousel">
                <!-- ko foreach: productImgList -->
                <div class="item"><img data-bind="attr:{src: data}" class="small-img-selector" /></div>
                <!-- /ko -->
            </div>
        </div>
        <div id="quicklook-name"><span data-bind="text: pname()"></span></div>
        <div id="quicklook-price"><span data-bind="text: price"></span></div>
        <div id="quicklook-sku"><span data-bind="text: sku"></span></div>
        <div id="quicklook-description"><span data-bind="html: description"></span></div>
    </div>
</div>