<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <m2express_productquicklook>
            <general>
                <home_category>1</home_category>
                <color_of_theme>blue</color_of_theme>
                <style_of_theme>horizontal</style_of_theme>
                <effect_of_style>parallax</effect_of_style>
                <cart_position>right</cart_position>
            </general>
        </m2express_productquicklook>
    </default>
</config>